.header {
  background-color: #1f3c88;
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.headerb {
  background-color: #1f3c88;
  padding: 15px 25px;
  display: flex;
  align-items: right;
  gap: 20px;
}

.header a {
  color: #ffffff;
  font-weight: 500;
}

.header a:hover {
  text-decoration: underline;
}
